header {
	position: fixed;
    height: 12vh;
	width: 100vw;
	padding: 1% 0;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
}

.logo {
	display: inline-block;
	height: 65px;
	width: 30%;
	background-color: #f60;
	background: url('../img/logo.png') no-repeat center center;
}

.main-nav {
	display: inline-block;
	position: relative;
}

header li {
	display: inline-block;
	/*position: relative;*/
	padding: 20px 44px;
	margin-left: 3%;
	float: left;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
}

.sub, .subsub {
	position: fixed;
	display: none;
	overflow: auto;
	width: 10rem;
	padding: 0;
}

.sub {
	margin-left: -1.2%;
}

.subsub {
	margin-left: 4%;
	margin-top: -1.8%;
}

.sub li, .subsub li {
	position: relative;
	float: none;
	width: 7rem;
	padding: 15px;
}

.sub-parent:hover>.sub, .sub-parent:hover>.subsub {
	display: block;
}