/*
*	Button styles
*/

.bt {
	padding: 10px 20px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	transition: all .33s linear;
	border-radius: 4px;

	&:focus {
		outline: none;
	}
}

.bt-primary {
	background: $bt-primary;
	border: 1px solid $bt-primary;

	&:hover {
		color: $bt-primary;
		background: #fff;
		border: 1px solid $bt-primary;
	}

	&:focus {
		box-shadow: 0 0 5px $bt-primary;
	}
}

.bt-secondary {
	background: $bt-secondary;
	border: 1px solid $bt-secondary;

	&:hover {
		color: $bt-secondary;
		background: #fff;
		border: 1px solid $bt-secondary;
	}

	&:focus {
		box-shadow: 0 0 5px $bt-secondary;
	}
}

.bt-primary-ghost {
	color: $bt-primary;
	background: #fff;
	border: 1px solid $bt-primary;

	&:hover {
		color: #fff;
		background: $bt-primary;
	}

	&:focus {
		box-shadow: 0 0 5px $bt-primary;
	}
}

.bt-secondary-ghost {
	color: $bt-secondary;
	background: #fff;
	border: 1px solid $bt-secondary;

	&:hover {
		color: #fff;
		background: $bt-secondary;
	}

	&:focus {
		box-shadow: 0 0 5px $bt-secondary;
	}
}

.bt-success {
	background: $bt-success;
	border: 1px solid $bt-success;

	&:hover {
		color: $bt-success;
		background: #fff;
		border: 1px solid $bt-success;
	}

	&:focus {
		box-shadow: 0 0 5px $bt-success;
	}
}

.bt-warning {
	background: $bt-warning;
	border: 1px solid $bt-warning;

	&:hover {
		color: $bt-warning;
		background: #fff;
		border: 1px solid $bt-warning;
	}

	&:focus {
		box-shadow: 0 0 5px $bt-warning;
	}
}

.bt-danger {
	background: $bt-danger;
	border: 1px solid $bt-danger;

	&:hover {
		color: $bt-danger;
		background: #fff;
		border: 1px solid $bt-danger;
	}

	&:focus {
		box-shadow: 0 0 5px $bt-danger;
	}
}