/*
*	Mixins
*/
@import '_vars';

@mixin shadow($shadow-size,$shadow-blur,$shadow-color){
	box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0px 0px $shadow-size lighten($shadow-color,5%);
}

@mixin track(){
	width: $track-width;
	height: $track-height;
	cursor: pointer;
	animate: 0.2s;
}

@mixin thumb(){
	@include shadow($thumb-shadow-size,$thumb-shadow-blur,$thumb-shadow-color);
	border: $thumb-border-width solid $thumb-border-color;
	height: $thumb-height;
	width: $thumb-width;
	border-radius: $thumb-radius;
	background: $thumb-color;
	cursor: pointer;
}