/*
*	Text format
*/
@import '_vars';

:root {
	line-height: $baseline-height;
	font-size: $font-size;
	font-family: $font-family-sans;
	text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: $anchor-color;

    &:hover, &:focus {
    	color: $anchor-hover;
    	text-decoration: underline;
    }

    &:visited, &:active {
    	color: $anchor-visited;
    }
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-family-serif;

	margin: ($baseline-height / 3) 0;
	font-weight: bold;
	color: $font-color;

	.subheader {
		display: block;
		color: lighten($font-color,50%);
		text-align: center;
		font-weight: normal;
        font-size: .85em;
        line-height: 1em;
        font-family: $font-family-sans;
	}
}

h1{
	font-size: $font-size * 2;
	line-height: $baseline-height * 1.5;
}

h2{
	font-size: $font-size * 1.75;
	line-height: $baseline-height * 1.3;
}

h3{
	font-size: $font-size * 1.5;
	line-height: $baseline-height * 1.2;
}

h4{
	font-size: $font-size * 1.25;
	line-height: $baseline-height * 1.1;
}

h5{
	font-size: $font-size;
	line-height: $baseline-height * 0.9;
}

h6{
	font-size: $font-size * 0.825;
	line-height: $baseline-height * 0.7;
}

p {
	margin: $baseline-height 0;
	line-height: $baseline-height / 1.5;
}

/*** utility classes ***/
.italic {font-style: italic;}
.bold {font-weight: bold;}
.highlight {font-size: 1.1em;}