/*
*	Fluted0gStrap SCSS variables
*/

/*** TYPOGRAPHY ***/
$font-size: 16px;
$baseline-height: 30px;
$font-family-sans: 'Raleway', 'Open Sans',Arial, sans-serif;
$font-family-serif: Georgia, serif;


/*** COLORS ***/
$font-color: #000;
$font-color-2: #999;
$anchor-color: #0044CC;
$anchor-hover: lighten($anchor-color,25%);
$anchor-visited: #800080;
/* background-primary */
$base-bckgd: #000;
$light-bckgd: lighten($base-bckgd, 25%);
$lighter-bckgd: lighten($base-bckgd, 50%);
$dark-bckgd: darken($base-bckgd, 25%);
$darker-bckgd: darken($base-bckgd, 50%);
/* background-secondary */
$base-bckgd-2: #000;
$light-bckgd-2: lighten($base-bckgd-2, 25%);
$lighter-bckgd-2: lighten($base-bckgd-2, 50%);
$dark-bckgd-2: darken($base-bckgd-2, 25%);
$darker-bckgd-2: darken($base-bckgd-2, 50%);
/*buttons*/
$bt-primary: #107896;
$bt-secondary: #43abc9;
$bt-success: /*#12cc0c*/#829356;
$bt-warning: #F26D21;
$bt-danger: #C02F1D;
/* misc colors */
$placeholder-gray: #999;

/*** ASSETS ***/