/*
*	Main SCSS file, just imports!
*/
/*
*	Fluted0gStrap SCSS variables
*/
/*** TYPOGRAPHY ***/
/*** COLORS ***/
/* background-primary */
/* background-secondary */
/*buttons*/
/* misc colors */
/*** ASSETS ***/
/*
*	General & unsorted styles
*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  text-align: center;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p, div, ul, li, a {
  /* (css reset) */
  margin: 0;
  padding: 0;
  border: 0; }

p {
  margin: 30px 0; }

img {
  max-width: 100%; }

/*** CONTAINERS ***/
.full-wrapper {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  text-align: left; }

.container {
  min-width: 75vw;
  width: 100%;
  max-width: 95vw;
  margin: 0 auto;
  padding: 1em 0; }

/*** FLEX CONTAINER ***/
.fx {
  display: flex; }

.ifx {
  display: inline-flex; }

.fx-col {
  flex-direction: column; }

.fx-row {
  flex-direction: row; }

.fx-wrap {
  flex-wrap: wrap; }

.fx-nowrap {
  flex-wrap: nowrap; }

.fx-center {
  justify-content: center;
  align-items: center; }

.fx-start {
  justify-content: flex-start; }

.fx-end {
  justify-content: flex-end; }

.fx-even {
  justify-content: space-evenly; }

.fx-between {
  justify-content: space-between; }

.fx-around {
  justify-content: space-around; }

/***FLEX CHILDS***/
.fxc-1 {
  flex-basis: 100%; }

.fxc-2 {
  flex-basis: 50%; }

.fxc-3 {
  flex-basis: 33.3333%; }

.fxc-4 {
  flex-basis: 25%; }

.fxc-5 {
  flex-basis: 20%; }

.fxc-6 {
  flex-basis: 16.6666%; }

.fxc-7 {
  flex-basis: 14.2857%; }

.fxc-8 {
  flex-basis: 12.5%; }

.fxc-9 {
  flex-basis: 11.1111%; }

.fxc-10 {
  flex-basis: 10%; }

.fxc-11 {
  flex-basis: 9.0909%; }

.fxc-12 {
  flex-basis: 8.3333%; }

.fxc-shrink {
  flex-shrink: 1; }

.fxc-grow {
  flex-grow: 1; }

/*** ABSOLUTES ***/
.abs-parent {
  position: relative; }

.abs-child {
  position: absolute; }

.abs-full-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.abs-vertical-center {
  top: 50%;
  transform: translateY(-50%); }

.abs-horizontal-center {
  left: 50%;
  transform: translateX(-50%); }

/*** MISCELLANEOUS ***/
.il-block {
  display: inline-block; }

.al-center {
  text-align: center; }

.child-center {
  margin: 0 auto; }

.al-left {
  text-align: left; }

.al-right {
  text-align: right; }

/*
*	Text format
*/
/*
*	Fluted0gStrap SCSS variables
*/
/*** TYPOGRAPHY ***/
/*** COLORS ***/
/* background-primary */
/* background-secondary */
/*buttons*/
/* misc colors */
/*** ASSETS ***/
:root {
  line-height: 30px;
  font-size: 16px;
  font-family: "Raleway", "Open Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none;
  color: #0044CC; }
  a:hover, a:focus {
    color: #4d88ff;
    text-decoration: underline; }
  a:visited, a:active {
    color: #800080; }

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0;
  font-weight: bold;
  color: #000; }
  h1 .subheader, h2 .subheader, h3 .subheader, h4 .subheader, h5 .subheader, h6 .subheader {
    display: block;
    color: gray;
    text-align: center;
    font-weight: normal;
    font-size: .85em;
    line-height: 1em; }

h1, h2, h3 {
  line-height: 45px; }

h4, h5, h6 {
  line-height: 37.5px; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 13.2px; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

/*
*	Nav styles
*/
.nav-wrapper {
  position: relative;
  padding-bottom: 1em; }
  .nav-wrapper .fix-nav {
    position: fixed;
    background: #999; }

.nav-01 .fix-nav {
  width: 100%; }

.nav-01 .logo-box {
  display: inline-block;
  width: 33%;
  padding: 7px 0;
  text-align: center; }
  .nav-01 .logo-box img, .nav-01 .logo-box .logo {
    margin: 0 auto; }

.nav-01 ul {
  display: inline-flex;
  justify-content: flex-end;
  list-style: none;
  width: 66%;
  padding: 3px 0; }
  .nav-01 ul li {
    display: inline-block;
    font-size: 1.175em;
    box-sizing: border-box; }
    .nav-01 ul li:last-child {
      margin-right: 15%; }
    .nav-01 ul li a {
      display: inline-block;
      padding: 0 14px;
      height: 100%;
      width: 100%;
      color: inherit;
      border: 3px solid #999;
      border-radius: 3px;
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;
      /* Firefox, other Gecko */
      box-sizing: border-box; }
      .nav-01 ul li a:hover {
        background: #bbb;
        border: 3px solid #bbb;
        text-decoration: none; }
      .nav-01 ul li a:focus, .nav-01 ul li a:active {
        background: #bbb;
        border: 3px solid #ddd;
        text-decoration: none; }

.nav-02 .fix-nav {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  left: 50%;
  transform: translateX(-50%);
  min-width: 66.6666%; }

.nav-02 .logo-box {
  display: inline-block;
  text-align: center; }
  .nav-02 .logo-box img, .nav-02 .logo-box .logo {
    margin: 0 auto; }

.nav-02 ul {
  list-style: none;
  padding: 3px 0; }
  .nav-02 ul li {
    display: inline-block;
    font-size: 1.175em; }
    .nav-02 ul li a {
      display: inline-block;
      padding: 0 14px;
      height: 100%;
      width: 100%;
      color: inherit;
      border: 3px solid #999;
      border-radius: 3px; }
      .nav-02 ul li a:hover {
        background: #bbb;
        border: 3px solid #bbb; }
      .nav-02 ul li a:focus {
        background: #bbb;
        border: 3px solid #ddd; }

/*
*	Footer styles
*/
.foot {
  padding: 0 0 2em 0; }
  .foot .first-segment {
    display: inline-flex;
    justify-content: space-evenly;
    width: 70%; }
    .foot .first-segment .foot-col {
      display: inline-block; }
      .foot .first-segment .foot-col h5 {
        display: inline-block;
        width: 77%;
        line-height: calc(30px / 1.75);
        border-bottom: 1px solid #999; }
      .foot .first-segment .foot-col ul {
        display: inline-block;
        list-style: none; }
        .foot .first-segment .foot-col ul li {
          margin: 0; }
  .foot .second-segment {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20%; }

/*
*	Button styles
*/
.bt {
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all .33s linear;
  border-radius: 4px; }
  .bt:focus {
    outline: none; }

.bt-primary {
  background: #107896;
  border: 1px solid #107896; }
  .bt-primary:hover {
    color: #107896;
    background: #fff;
    border: 1px solid #107896; }
  .bt-primary:focus {
    box-shadow: 0 0 5px #107896; }

.bt-secondary {
  background: #43abc9;
  border: 1px solid #43abc9; }
  .bt-secondary:hover {
    color: #43abc9;
    background: #fff;
    border: 1px solid #43abc9; }
  .bt-secondary:focus {
    box-shadow: 0 0 5px #43abc9; }

.bt-primary-ghost {
  color: #107896;
  background: #fff;
  border: 1px solid #107896; }
  .bt-primary-ghost:hover {
    color: #fff;
    background: #107896; }
  .bt-primary-ghost:focus {
    box-shadow: 0 0 5px #107896; }

.bt-secondary-ghost {
  color: #43abc9;
  background: #fff;
  border: 1px solid #43abc9; }
  .bt-secondary-ghost:hover {
    color: #fff;
    background: #43abc9; }
  .bt-secondary-ghost:focus {
    box-shadow: 0 0 5px #43abc9; }

.bt-success {
  background: #829356;
  border: 1px solid #829356; }
  .bt-success:hover {
    color: #829356;
    background: #fff;
    border: 1px solid #829356; }
  .bt-success:focus {
    box-shadow: 0 0 5px #829356; }

.bt-warning {
  background: #F26D21;
  border: 1px solid #F26D21; }
  .bt-warning:hover {
    color: #F26D21;
    background: #fff;
    border: 1px solid #F26D21; }
  .bt-warning:focus {
    box-shadow: 0 0 5px #F26D21; }

.bt-danger {
  background: #C02F1D;
  border: 1px solid #C02F1D; }
  .bt-danger:hover {
    color: #C02F1D;
    background: #fff;
    border: 1px solid #C02F1D; }
  .bt-danger:focus {
    box-shadow: 0 0 5px #C02F1D; }

/*
*	List styles
*/
ul {
  list-style: circle inside; }

li {
  margin-left: 1.5em; }

.blank-list {
  list-style: none; }

.list-label {
  margin: 0; }

/*
@import '_grids';
@import '_forms';
@import '_responsive';
*/
