/*** CSS custom framework [basic stuffs] ***/
/*
*	Just cover basic stuff
*	
*
*
*
*/

/*** GENERAL-SETUP ***/
:root {
	font-size: 16px;
}

*,
*:before,
*:after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

/***FLEX***/
.fx {display: flex;}
.ifx {display: inline-flex;}
.fx-col {flex-direction: column;}
.fx-row {flex-direction: row;}
.fx-wrap {flex-wrap: wrap;}
.fx-nowrap {flex-wrap: nowrap;}
.fx-center {justify-content: center;align-items: center;}
.fx-start {justify-content: flex-start;}
.fx-end {justify-content: flex-end;}
.fx-even {justify-content: space-evenly;}
.fx-between {justify-content: space-between;}
.fx-around {justify-content: space-around;}

/***FLEX COLUMNS***/
.fx-1 {flex-basis: 100%;}
.fx-2 {flex-basis: 50%;}
.fx-3 {flex-basis: 33.3333%;}
.fx-4 {flex-basis: 25%;}
.fx-5 {flex-basis: 20%;}
.fx-6 {flex-basis: 16.6666%;}
.fx-7 {flex-basis: 14.2857%;}
.fx-8 {flex-basis: 12.5%;}
.fx-9 {flex-basis: 11.1111%;}
.fx-10 {flex-basis: 10%;}
.fx-11 {flex-basis: 9.0909%;}
.fx-12 {flex-basis: 8.3333%;}

/*** ABSOLUTES ***/
.abs-parent {position: relative;}
.abs-child {position: absolute;}
.abs-full-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.abs-vertical-center {
	top: 50%;
	transform: translateY(-50%;);
}
.abs-horizontal-center {
	left: 50%;
	transform: translateX(-50%;);
}

/*** BOX-SPACING ***/
.hpad-lighter {padding: 0 3px;}
.hpad-light {padding: 0 6px;}
.hpad-medium {padding: 0 12px;}
.hpad-high {padding: 0 24px;}
.hpad-higher {padding: 0 32px;}

/*** FONT-SIZING ***/


/*** MISCELLANEOUS ***/
.il-block {display: inline-block;}

.al-center {text-align: center;}
.al-left {text-align: left;}
.al-right {text-align: right;}